<!-- views/users.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/error") %>
    <form action="/users/create" method="POST">
      <label for="firstName">First Name: </label>
      <input type="text" name="firstName" required />
      <br />
      <label for="lastName">Last Name: </label>
      <input type="text" name="lastName" required />
      <br />
      <label for="email">Email: </label>
      <input type="email" name="email" required />
      <br />
      <label for="age">Age: </label>
      <input type="number" name="age" min="18" max="120" />
      <br />
      <label for="Bio">Tell about yourself: </label>
      <textarea name="bio" id="bio" maxlength="200"></textarea>
      <br />
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
